body {
  margin: 0px;
  padding: 0px;
}
.option .wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.option a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.option a span {
  position: relative;
  z-index: 2;
}

.option a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all 0.35s;
}

.option a:hover {
  color: #fff;
}

.option a:hover:after {
  width: 100%;
}

.show {
  display: none;
}
